<li class="text<%= ' from_me' if text.is_from_me %>" id="text-<%= text.id %>">

  <%= link_to text.name, "/conversation/#{text.name}", class: 'sender' %>
  <div class="body"><%= text.body %></div>
  
  <div class="date right"><%= text.date_nice %></div>
</li>
